*{
    margin: 0;
}

#popup {
    display: none;
    position: fixed; /* Position the popup using fixed positioning */
    top: 50%; /* Vertical centering: 50% from the top */
    left: 50%; /* Horizontal centering: 50% from the left */
    transform: translate(-50%, -50%); /* Adjusts the position based on the popup's size */
    z-index: 1000; /* Ensure the popup is on top of other elements */
    background-color: purple;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
}

#popup .popup-contenido{
    background-color: purple;
}

#popupModificarUsuario {
    display: none;
    position: fixed; /* Position the popup using fixed positioning */
    top: 50%; /* Vertical centering: 50% from the top */
    left: 50%; /* Horizontal centering: 50% from the left */
    transform: translate(-50%, -50%); /* Adjusts the position based on the popup's size */
    z-index: 1000; /* Ensure the popup is on top of other elements */
    background-color: purple;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
}

body{
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 20px;
    border-image: url(img/patron.jpg) 40 40 repeat;
    
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(139, 0, 0);
}

div.contenedor-sesion{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 15%;
}

div.contenedor-sesion a{
    border-radius: 5px;
    display: inline-block;
    background-color: rgb(139, 0, 0);
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
}


@media (max-width: 600px) {
    
    header{
        border-width: 1px;
    }

}

div.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: rgb(139, 0, 0);
    padding-left: 15%;
}
img[alt="Icon"]{
    width: 100px;
}
nav{ /*ver si podemos hacerlo sticky*/
    position: sticky;
    top: 0;
    z-index: 1; /*para que se vea por encima de elementos con más prioridad (h2 por ejemplo)*/
    padding: 10px;
    background-color: rgba(250, 130, 130, 0.5);
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
main.formulario{
    display: block;
    width: 95%;
}
@media (max-width: 900px) {
    main {
        flex-direction: column;
    }
}
form{
    display: flex;
    flex-direction: column;
}
menu{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    flex: 8;
}
menu>p{
    border-width: 5px;
    border-radius: 10px;
    margin: 20px;
    background-color: aliceblue;
    text-align: center;
}
aside{
    flex: 2;
    background-image: url(img/patronArcos.jpeg);
    font-weight: bold;
}
p{
    margin: 10px;
    font-size: medium;
}
p.remarcar{
    font-size: large;
    font-weight: bold;
}
footer{
    background-color: rgb(165,42,42,0.5);
    display: flex;
}
footer p{
    font-size: small;
    align-self: flex-start;
}
a{
    padding: 10px;
    color: black;
}
a:hover{
    color:gray;
}
nav>a:hover{
    border-radius: 20px;
    margin: 10px 0;
    padding: 20px 30px;
    background-color: brown;
    box-shadow: 0px 0px 5px 0px black;
}
header p{
    background-color: white;
}
[href="documentacion.php"]{
    border-radius: 5px;
    display: inline-block;
    background-color:rgb(255, 98, 0);
    color: black;
    padding: 20px;
    align-self: center;
    position: sticky;
    bottom: 0;
}
nav>a{
    border-radius: 5px;
    display: inline-block;
    background-color:rgb(139, 0, 0);
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
}
@media (max-width: 1050px) {
    nav>a{
        padding: 10px 10px;
        margin: 10px 10px;
    }
    nav>a:hover{
        padding: 10px 20px;
        margin: 10px 0;
    }
}
@media (max-width: 600px) {
    nav>a{
        padding: 5px 5px;
        margin: 10px 10px;
    }
    nav>a:hover{
        padding: 5px 15px;
        margin: 10px 0;
    }
}
section{
    display: flex;
    flex-direction: column;
    background-color: brown;
    border: 5px dotted rgb(139, 0, 0);
    margin: 20px;
    width: 100%;
    align-items:flex-start;
}
section:hover{
    border-style: solid;
}
div{
    background-color: gainsboro ;
    width: 30%;
    text-align: center;
    margin: 10px;
}
@media (max-width: 900px) {
    
    div{
        width: 90%;
    }

}
div.boton{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
div.table{
    display: grid;
    grid-template-columns: repeat(12 40px);
    grid-template-rows: repeat(15 40px);
}
span{
    border: 1px solid black;
}
section>div{
    background-color: rgb(207, 25, 25);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 98%;
    
}
section>div>div{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
}
input[type="submit"]{
    background-color: tomato;
    font-size: medium;
    padding: 10px;
    align-self: center;
}
figure{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    background-color: beige;
    width: 100%;
}
ul{
    margin: 20px;
    width: 40%;
}
li{
    list-style: none;
}
h1{
    padding: 10px;
    font-size: xxx-large;
}
h2{
    margin: 5px;
}
form h2{
    display: inline-block;
    background-color: rgb(139, 0, 0);
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
    left: 10px;
}
img{
    margin: 10px;
}
label{
    width: 200px;
    padding: 5px;
}
a.in{
    background-color: chocolate;
}
.galeria{
    width: 90%;
}
/**/
/**/
/**/
/**/
/*Bloque de CSS dedicado a las listas*/
/**/
/**/
/**/
/**/
/**/
main.lista{
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}
main.lista>*{
    width: 100%;
    border-radius: 4px;
}

main.lista>form{
    flex-direction: row;
    justify-content: center;
}
table {
	--color-titulo : lightskyblue;
	--color-fila1 : lightcyan;
	--color-fila2 : azure;
	--color-resalte : lavender;
	border: 2px solid var(--color-titulo);
	margin: 10px auto;
	border-spacing: 0;
}
table td, table th {
	padding: 5px;
}
table tr:nth-child(odd) {
	background-color:var(--color-fila1);
}
table tr:nth-child(even) {
	background-color:var(--color-fila2);
}
table tr:nth-child(1) {
	background-color:var(--color-titulo);
}
table tr:hover {
	background-color: var(--color-resalte);
	font-weight: bold;
}
table [type="submit"] {
    display: inline-block;
	margin: 0;
	padding: 0;
}

/*Seccion de las listas dedicada a editar los datos (Cambiamos el aspecto del formulario donde veremos el formulario)*/
div.editar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.editar form.editar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/**/
/**/
/**/
/**/
/**/
/*Bloque de CSS desdicado al formulario*/
/**/
/**/
/**/
/**/
/**/
form.registro *{
    display: inline-block;
    margin: 0;
    text-align: left;
    border-radius: 3px;
}

div.upper-cont{
    width: 95%;
}

div.lower-cont{
    width: 95%;
}

section.pers-cont {
    margin: 3% 0 0 0;
    padding: 0 0.5%;
    width: 95%;
    align-self: center;
}

section.pers-cont div{
    background-color: rgb(129, 0, 0);
}

section.access {
    margin: 3% 0 0 0;
    padding: 0 0.5%;
    width: 95%;
    align-self: center;
}

section.access div{
    background-color: rgb(129, 0, 0);
}

h2.registro {
    padding: 2px;
    top: -15px;
    left: 20px;
    position: relative;
    border: 1px solid black;
    display: inline;
}

/*Propiedades concretar de elementos*/

div.access div {
    padding: 0.5% 0.5%;
    margin: 0% 0% 0.5% 0%;
}
div.access div.upper-cont {
    width: 90%;
    padding-left: 6%;
}
div.access div.upper-cont div.uno {
    width: auto;
    float: left;
    text-align: right;
}
div.access div.upper-cont div.dos {
    width: 75%;
    float: left;
}
div.access div.upper-cont div.dos .error {
    margin: 0;
}
div.access div.upper-cont::after {
    content: "";
    display: table;
    clear: both;
}
div.access div.lower-cont {
    width: 90%;
    padding-left: 6%;
}
div.access div.lower-cont div.uno {
    display: inline-block;
    padding: 0;
    width: 40%;
}
div.access div.lower-cont div.uno div.uno-arriba {
    width: auto;
    float: left;
    text-align: right;
}
div.access div.lower-cont div.uno div.uno-abajo {
    width: 75%;
    float: left;
}
div.access div.lower-cont div.dos {
    display: inline-block;
    padding: 0;
    width: 50%;
}
div.access div.lower-cont div.dos div.dos-arriba {
    width: auto;
    float: left;
    text-align: right;
}
div.access div.lower-cont div.dos div.dos-abajo {
    width: 75%;
    float: left;
}
div.access #mail {
    width: 50%;
}

div.pers-cont div.upper-cont {
    display: inline-block;
}
div.pers-cont div.upper-cont div {
    padding: 0.5% 0.5%;
}
div.pers-cont div.upper-cont #nombre-apellidos {
    width: 50%;
    float: left;
    margin-left: 6%;
}
div.pers-cont div.upper-cont #nombre-apellidos div#nombre {
    display: inline-block;
    width: 100%;
}
div.pers-cont div.upper-cont #nombre-apellidos div#nombre div {
    float: left;
}
div.pers-cont div.upper-cont #nombre-apellidos div#nombre div.uno {
    width: 15%;
}
div.pers-cont div.upper-cont #nombre-apellidos div#nombre div.uno p {
    margin: 0%;
}
div.pers-cont div.upper-cont #nombre-apellidos div#nombre div.dos {
    width: 40%;
}
div.pers-cont div.upper-cont #nombre-apellidos div#nombre div.dos p {
    margin: 0%;
}
div.pers-cont div.upper-cont #nombre-apellidos div#apellidos {
    display: inline-block;
    width: 100%;
}
div.pers-cont div.upper-cont #nombre-apellidos div#apellidos div {
    float: left;
}
div.pers-cont div.upper-cont #nombre-apellidos div#apellidos div.uno {
    width: 15%;
}
div.pers-cont div.upper-cont #nombre-apellidos div#apellidos div.uno p {
    margin: 0%;
}
div.pers-cont div.upper-cont #nombre-apellidos div#apellidos div.dos {
    width: 40%;
}
div.pers-cont div.upper-cont #nombre-apellidos div#apellidos div.dos p {
    margin: 0%;
}
div.pers-cont div.upper-cont #foto {
    width: 40%;
    float: left;
    border-left: 2px solid rgb(23, 177, 197);
}
div.pers-cont div.lower-cont {
    display: inline-block;
}
div.pers-cont div.lower-cont .left-cont {
    margin-left: 6%;
    width: 40%;
    float: left;
}
div.pers-cont div.lower-cont .left-cont div {
    margin-top: 2%;
}
div.pers-cont div.lower-cont .left-cont #dni {
    display: inline-block;
    width: 100%;
}
div.pers-cont div.lower-cont .left-cont #dni div.uno {
    width: 40%;
    float: left;
    text-align: right;
}
div.pers-cont div.lower-cont .left-cont #dni div.dos {
    margin-left: 1%;
    width: 40%;
    float: left;
    text-align: left;
}
div.pers-cont div.lower-cont .left-cont p {
    margin-left: 6%;
    margin: 0;
}
div.pers-cont div.lower-cont .left-cont #fnac {
    display: inline-block;
    margin-left: 1%;
    width: 100%;
}
div.pers-cont div.lower-cont .left-cont #fnac div.uno {
    width: 40%;
    float: left;
    text-align: right;
}
div.pers-cont div.lower-cont .left-cont #fnac div.dos {
    margin-left: 1%;
    width: 50%;
    float: left;
    text-align: left;
}

div.pers-cont div.lower-cont .left-cont #nacionalidad {
    display: inline-block;
    width: 100%;
}
div.pers-cont div.lower-cont .left-cont #nacionalidad div.uno {
    width: 40%;
    float: left;
    text-align: right;
}
div.pers-cont div.lower-cont .left-cont #nacionalidad div.dos {
    margin-left: 1%;
    width: 40%;
    float: left;
    text-align: left;
}
div.pers-cont div.lower-cont .left-cont p {
    margin-left: 6%;
    margin: 0;
}
div.pers-cont div.lower-cont .left-cont #tarjeta {
    display: inline-block;
    margin-left: 1%;
    width: 100%;
}
div.pers-cont div.lower-cont .left-cont #tarjeta div.uno {
    width: 40%;
    float: left;
    text-align: right;
}
div.pers-cont div.lower-cont .left-cont #tarjeta div.dos {
    margin-left: 1%;
    width: 50%;
    float: left;
    text-align: left;
}
div.pers-cont div.lower-cont .right-cont {
    margin-left: 6%;
    width: 40%;
    float: left;
}

.agreedments {
    border: 0px;
}

.agreedments:hover {
    border: 0px;
}

div.boton {
    text-align: center;
}

input.boton-enviar {
    text-align: center;
    padding: 2% 10%;
    margin: 10px;
}

p.errorNombre{
    display: block;
    color: red;
    margin: 0;
}
p.errorDNI{
    display: block;
    color: red;
    margin: 0;
}
p.errorEdad{
    display: block;
    color: red;
    margin: 0;
}
p.errorMail{
    display: block;
    color: red;
    margin: 0;
}

p.errorTarjeta{
    display: block;
    color: red;
    margin: 0;
}
p.errorPasswd{
    display: block;
    color: red;
    margin: 0;
}
h1.todo-correcto{
    width: 100%;
    text-align: center;
    color: Aquamarine;
}